{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{instance.name}}{% endblock title %}

{% block content %}

<div class="row">
	<div class="col-md-8">
		{% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
			    {% endfor %}
			</ul>
		{% endif %}
		
			<h3>{{instance.car_name}}</h3>
			<h5>Model: {{instance.car_model}}  <i class="pull-right">Date: {{instance.create_date}}</i></h5>
			
			<p class="content">{{instance.content|linebreaks}}</p>
			
			{% if user.is_staff or user.is_authenticated %}
				<a href="{% url 'items:item_create' %}"><button class="btn btn-success create">Add New Page</button></a>
				<a href="{% url 'items:item_update' slug=instance.slug %}"><button class="btn btn-primary">Update</button></a>
				<a href="{% url 'items:item_delete' slug=instance.slug %}"><button class="btn btn-danger">Delete</button></a>

				<a href="{% url 'items:item_list' %}" >
					<button class="btn btn-info pull-right return">Return</button>
				</a><br/>
			{% endif %}
	</div>
	<div class="col-md-4 audi">
		{% if instance.image %}
			<img src="{{StATIC_URL}}{{instance.image.url}}" class="thumbnail img-responsive">
		{% endif %}
	</div>
</div>

{% endblock content %}}